.upg {
    position: absolute;
    background-color: darkblue;
    width: 225px;
    height: 100%;
    left: 0%;
    bottom: 0%;
}

.upg > * {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 100px;
    color: cadetblue;
}